In [1]:
import pandas as pd

In [2]:
ls ../data/

key_1.csv                sample_submission_1.csv  train_1.csv

In [3]:
base_dir = '../data/'

In [21]:
train = pd.read_csv(base_dir+'train_1.csv', nrows=10000).fillna(0)

In [7]:
key = pd.read_csv(base_dir+'key_1.csv', nrows=1000)

In [11]:
len(train.columns)

551

In [9]:
key.head()

                                                Page            Id
0  !vote_en.wikipedia.org_all-access_all-agents_2...  bf4edcf969af
1  !vote_en.wikipedia.org_all-access_all-agents_2...  929ed2bf52b9
2  !vote_en.wikipedia.org_all-access_all-agents_2...  ff29d0f51d5c
3  !vote_en.wikipedia.org_all-access_all-agents_2...  e98873359be6
4  !vote_en.wikipedia.org_all-access_all-agents_2...  fa012434263a

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 551 entries, Page to 2016-12-31
dtypes: float64(550), object(1)
memory usage: 42.0+ MB

In [17]:
train.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

In [19]:
train.median(axis=1)

0         16.0
1         17.0
2          4.0
3         13.0
4          5.0
5         13.5
6         12.0
7         34.5
8         31.0
9         22.0
10         9.0
11         9.0
12         4.0
13        14.0
14        33.0
15        20.0
16        21.0
17         8.0
18        13.0
19        10.0
20        18.0
21        15.0
22        14.0
23        22.5
24        50.0
25        14.0
26        30.0
27         7.0
28        19.0
29         8.0
         ...
9970     168.0
9971    2910.5
9972     569.5
9973     881.0
9974     633.0
9975    5687.5
9976     714.5
9977    2570.5
9978    1955.5
9979    1020.5
9980    2652.0
9981     334.0
9982    3663.5
9983    2477.5
9984     428.0
9985    1681.0
9986    5648.0
9987    2025.5
9988    1940.5
9989    5425.5
9990     496.5
9991     669.0
9992    1191.0
9993     372.5
9994      91.0
9995     842.0
9996    2589.5
9997    4321.5
9998    4359.0
9999     248.5
Length: 10000, dtype: float64

In [22]:
train.median(axis=1)

0         16.0
1         17.0
2          4.0
3         13.0
4          0.0
5         13.5
6          0.0
7         34.5
8         31.0
9         22.0
10         9.0
11         9.0
12         4.0
13         9.0
14        33.0
15        20.0
16        21.0
17         8.0
18        13.0
19         0.0
20        18.0
21        15.0
22        14.0
23        22.5
24         0.0
25        14.0
26        30.0
27         6.0
28        19.0
29         8.0
         ...
9970     168.0
9971    2910.5
9972     512.5
9973     881.0
9974     633.0
9975    5687.5
9976     714.5
9977    2570.5
9978    1955.5
9979    1020.5
9980    2652.0
9981     259.5
9982    3663.5
9983    2477.5
9984     428.0
9985    1681.0
9986    5648.0
9987    2025.5
9988    1940.5
9989    5425.5
9990     496.5
9991     669.0
9992       0.0
9993     372.5
9994      91.0
9995     796.0
9996    2589.5
9997    4321.5
9998    4359.0
9999       0.0
Length: 10000, dtype: float64

In [20]:
train.tail()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
9995,Nyle_DiMarco_en.wikipedia.org_desktop_all-agents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,742.0,490.0,464.0,353.0,494.0,784.0,737.0,678.0,693.0,745.0
9996,O._J._Simpson_murder_case_en.wikipedia.org_des...,1620.0,1665.0,1343.0,1130.0,1102.0,1628.0,1952.0,1999.0,1696.0,...,1952.0,1776.0,1334.0,1293.0,1615.0,1970.0,1937.0,2144.0,2061.0,1736.0
9997,OSI_model_en.wikipedia.org_desktop_all-agents,4083.0,4040.0,2867.0,1710.0,1924.0,4839.0,4515.0,4552.0,4374.0,...,3555.0,2824.0,1347.0,1414.0,2254.0,2825.0,3023.0,2911.0,2479.0,1471.0
9998,OS_X_en.wikipedia.org_desktop_all-agents,4753.0,4308.0,3453.0,2633.0,2749.0,4247.0,4245.0,4519.0,4493.0,...,653.0,630.0,531.0,478.0,614.0,1169.0,613.0,665.0,591.0,458.0
9999,Oathbreaker_(Game_of_Thrones)_en.wikipedia.org...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151.0,153.0,139.0,118.0,166.0,227.0,251.0,248.0,232.0,343.0